/* styles.css */

*{
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1c1d;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    max-width: 3cqmax;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 20px;
    position: relative; /* Para posicionar la barra */
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative; /* Para posicionar la barra */
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #005F7F;
}

/* Efecto de barra */
.nav-list a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Comienza en el centro */
    transform: translateX(-50%); /* Lo centramos horizontalmente */
    width: 0; /* Inicialmente invisible */
    height: 2px; /* Grosor de la barra */
    background-color: #005F7F; /* Color de la barra */
    transition: width 0.3s ease, left 0.3s ease; /* Transición de crecimiento */
}

.nav-list a:hover::before {
    width: 100%; /* Se expande al 100% */
    left: 10; /* Llega hasta el borde izquierdo */
}


.hero {
    position: relative;
    color: #000;
    text-align: center;
    height: 912px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el fondo con filtro de desenfoque */
.hero-background {
    background-image: url('https://w.wallhaven.cc/full/rd/wallhaven-rdz9j1.png');
    background-size: cover;
    background-position: center;
    filter: blur(0px); /* Aplicar un efecto de desenfoque al fondo */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}



/* Estilos para el contenido de .hero-content */
.hero-content {
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo semitransparente */
    padding: 22px;
    border-radius: 15px;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1a1c1d;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.about {
    background-color: #f1f1f1;
    padding: 40px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.services {
    padding: 40px 0;
    background-color: #f4f4f4;
    text-align: center; /* Centra el contenido horizontalmente */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    margin-top: 20px; /* Espacio entre el título y los servicios */
}


.service {
    flex: 0 0 calc(33.3333% - 20px);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: transform 0.3s, background-color 0.3s;
}

.service:hover {
    transform: scale(1.05);
    background-color: #005F7F;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact {
    background-color: #f1f1f1;
    padding: 40px 0;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    width: 500px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.container_footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el texto de derechos de autor */
p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estilos para los enlaces del pie de página */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff6600; /* Cambia el color al pasar el puntero */
}

/* Estilos para los íconos de redes sociales */
.social-icons {
    margin-top: 20px;
}

.icon {
    font-size: 24px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.icon:hover {
    color: #ff6600; /* Cambia el color al pasar el puntero */
}
